.div-logo {
  display: flex;
  margin-bottom: 32px;
  margin-top: 10px;
}

.img-logo {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.div-container {
  height: 100%;
  display: flex;
  background-image: url('https://image.cnbcfm.com/api/v1/image/106429544-1583520556948gemera_exterior_5_high.jpg?v=1583520680&w=740&h=416&ffmt=webp&vtcrop=y');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-container {
  width: 30vw;
  margin: auto;
  margin-top: 20vh;
}

.div-input-field {
  display: grid;
}

.div-buttons-container {
  display: grid;
}
